.wrapper {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;

    width: 700px;
    font-size: 20px;
    color: white;
}

.wrapper h3 {
    width: fit-content;
    margin: 0 auto;
}

.contact-us {
    margin-top: 20px;
    display: flex;

}

.contact form{
    font-size: 14px;
   margin-right: 50px;
}

.contact form input{
    margin-bottom: 15px;
}

.submit-btn {
    margin-top: 20px;
}

input{
	height: 30px;
	background: rgba(247,247,242, 1);
	color: rgba(247,247,242, 1);
	justify-content: center;
	display: flex;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
    color: black
}
.submit-btn{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: rgba(247,247,242, 1);
	background: rgba(221,4,38, 1);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}
.submit-btn{
	box-shadow: rgba(8,9,10,1) 0px 3px 3px 0px;
	transition: 1s;
}
