*{
    font-family: 'leto', sans-serif;
}

#movie-list-container{
    padding-top: 100px;
}

.movie-list-paral{
    /* The image used */
    background-image: url("../Resources/Images/Bg/red-and-black-theme-bm12.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.spacing{
    margin-bottom: 100px;
}

.wrapper{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}


.wrapper h1{
    color: #fff;
    font-family: sans-serif;
    border-bottom: 2px solid rgba(255,255,255,.2);    
    display: flex;
    padding: 10px;
    width: 95%;
    margin: 40px 40px;
    font-size: 30px;

}

.wrapper .vl{
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
}

.wrapper .card{
    width: 288px;
    height: 360px;
    padding: 2rem 1rem;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 70px 63px -60px #000000;
    transition: 0.5s ease-in-out;
    margin-right: 35px;
}

.wrapper .card:hover{
    transform: translateY(20px);
}


.wrapper .card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(235, 64, 52, 0.4), rgba(173, 20, 9, .8));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.wrapper .card:hover:before{
    opacity: 1;
}

.wrapper .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper .card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.wrapper .card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.wrapper .card .info h1{
    margin: 0;
}

.wrapper .card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.wrapper .card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #7d1810;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.wrapper .card .info .btn:hover{
    box-shadow: 0 70px 63px -60px #000000;
}

@media (max-width: 500px){
    .wrapper .vl{
        flex-direction: column;
    }
    .wrapper .card{
        margin: 20px;
    }
}
