*{
    font-family: 'leto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(33, 4, 6, 1), rgba(20, 2, 3, 1), rgba(0, 0, 0, 1));
}

.wrapper{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}


.wrapper h1{
    color: #fff;
    font-family: sans-serif;
    border-bottom: 5px solid #c81d25;
    width: 98%;
}

.wrapper .vl{
    display: flex;
    margin-bottom: 70px;
}

.wrapper .card{
    width: 288px;
    height: 360px;
    padding: 2rem 1rem;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 70px 63px -60px #000000;
    transition: 0.5s ease-in-out;
    margin-right: 25px;
}

.wrapper .card:hover{
    transform: translateY(20px);
}


.wrapper .card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(235, 64, 52, 0.4), rgba(173, 20, 9, .8));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.wrapper .card:hover:before{
    opacity: 1;
}

.wrapper .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper .card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.wrapper .card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.wrapper .card .info h1{
    margin: 0;
}

.wrapper .card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.wrapper .card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #7d1810;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.wrapper .card .info .btn:hover{
    box-shadow: 0 70px 63px -60px #000000;
}