
/* *{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
} */


header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.nav{
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.nav .logo{
    margin-left: 10%;
}

.nav .logo img{
    max-width: 60px;
    max-height: 60px;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: 12%;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}


#toggle{
    position: absolute;
    right: 1rem;
    display: none;
}



.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    min-height: 5rem;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}



@media (max-width: 720px){
    #toggle{
        display: flex;
        margin-right: 30px;
    }
    .nav-list{
        display: none;
    }
    .nav{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .nav-list{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-list li{
        height: 40px;
    }

    .nav-list.active{
        display: flex;
    }

    .nav-link:hover::after{
        transform: scaleY(2);
    }

    .nav-link{
        padding: .5rem 1rem;
    }

    .nav .logo img{
        margin-right: 400px;
        margin-top: -3px;
    }

}