/* body {
    background-color: rgb(15, 3, 3);
    color: white;
} */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    color: white;
}
/* .movie_banner {
    width: 60px;
    height: 40px;
} */

.movie-card {
    display: flex;
    margin-top: 50px;
    border: 1px, solid, white;
    border-radius:3px, solid, white;
    /* background-color:rgb(187, 121, 121, 0.3); */
    border-radius: 3%;
}

.movie-desc {
    margin-left: 40px;
}

#watchlist_title {
    margin: 0 auto;
    margin-top: 100px;
    color:rgb(255, 255, 255);
}

.movie-desc a, .movie-desc strong {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav {
    background-color: black;
}

/* .movie_banner {
background: url(http://www.slatecube.com/images/play-btn.png) no-repeat center;
background-size:contain;
} */

.movie-descriptions {
    /* margin-top: 10px; */
    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(204, 248, 240)
}

.movie-descriptions:hover {
    all: initial;
    color: white;
    margin-top: 10px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.movie-banner {
    position: absolute;
    display: block;
    background: url(http://www.slatecube.com/images/play-btn.png);
    /* height: 100%; */
    width: 60px;
    top: 75px;
    left: 150px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
